
/*
.  <-- CLASS   (pour plusieur objet qui on les meme propriété)
#  <-- ID   (un objet unique qui a ces propre proriété)

*/


.box {
    display: flex;
    align-items: center;
}
.center {
    justify-content: center;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
.menu a {
    color: #0065FC;
    
}
a {
    text-decoration:none; 
}
#logo{
    width: 100px;
}

#page-active{
    border-top: solid #0065FC;
    padding-top: 25px;
}
#page-non-active{
    color:#727272;
}
.espace{
    margin: 25px;
}
.footer{
    background-color: #F2F2F2;
}
#enTete{
    margin-bottom: 3px;
}

.containerMarker {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}
.containerMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.searchBar{
    margin-bottom: 30px;
    height: 50px;
}


.textFilter{
    align-self: center;
}

.filters{
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.filter{
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.filter span{
    padding-left: 12px;
}

.filter:hover{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.filterList{
    flex-wrap: wrap;
}

.iconFilter{
    position: relative;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.iconFilter i{
    margin: auto;
    color: #0065FC;
}

.iconInfo{
    height: 20px;
    width: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    margin-right: 10px;
}

.iconInfo i{
    margin: auto;
    font-size: .9rem;
    color: #0065FC;  
}

.search{
    margin-bottom: 30px;
}

.search h2{
    margin-bottom: 10px;
}

.search p{
    margin-top: 10px;
}

.searchBar{
    margin-bottom: 30px;
    height: 50px;
}

.containerMarker{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}

.containerMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.searchInput{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.searchInput::placeholder{
    color: #c2c2c2;
}

.searchButton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.searchButton i{
    display: none;
}
